.empty-cart {
	height: 90vh;
	min-height: 60vh;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	font-family: var(--calm-font);
}
.empty-cart * {
	margin-top: var(--hard-margin-gap);
}

.empty-cart-banner {
	width: 41vw;
	z-index: var(--lower-z-index);
}
@media screen and (max-width: 800px) {
	.empty-cart-banner {
		width: 54vw;
		z-index: var(--lower-z-index);
	}
}
