.recovery-parent {
	width: 100%;
	min-height: 90vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
	padding:2rem;
}
.recovery-tile {
	height: 100%;
	min-width:35%;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	border-radius: var(--soft-border-radius);
	box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.recovery-details{
	width: 100%;
}
.recovery-details *{
	margin: var(--harder-margin-gap);
}
.recovery-details h1, h2{
	text-align: left;
}
.recovery-details h1{
	font-family: var(--card-tile-font);
}
.recovery-details h2{
	font-weight: lighter;
	font-family: var(--calm-font);
}
.recovery-details input{
	padding: var(--harder-padding-gap);
	width: 80%;
	font-size: 20px;
}
.hr-div{
	height: 1px;
	width: 100%;
	background-color:var(--grayish-black);
	margin: var(--hard-margin-gap) 0 var(--hard-margin-gap) 0;
}
.recovery-navigator{
	width: 100%;
	display: flex;
	flex-direction: row-reverse;
	align-items:flex-end;
}
.recovery-navigator *{
	padding: var(--hard-padding-gap);
	margin: var(--hard-margin-gap);
	font-weight: normal;
}
@media screen and (min-width: 1024px) { 
	.recovery-tile{
		width: 600px;
	}
}