@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@1,700&display=swap");

:root {
  --primary-color: #00203fff;
  --secondary-color: #adefd1ff;
  --ternary-white: rgb(224, 224, 224);
  --secondary-black: #b3a2a2;
  --border-size: 1px;
}
:after,
:before,
* {
  padding: 0rem;
  margin: 0rem;
}
.App {
  font-family: sans-serif;
  text-align: center;
}
.Link {
  color: inherit;
  text-decoration: inherit;
}
.top-nav {
  display: flex;
  justify-content: space-between;
  height: 5rem;
  border: var(--border-size) solid var(--primary-color);
  background-color: var(--primary-color);
  color: white;
  align-items: center;
}
.linear-div {
  display: flex;
  align-items: center;
  padding: 1rem;
  justify-content: space-between;
}
.left-nav-content {
  width: 55%;
}
.left-nav-content h1 {
  font-family: "Roboto", sans-serif;
  font-size: 35px;
}
.right-nav-content {
  width: 27rem;
}
.router {
  display: flex;
  color: white;
  align-items: center;
  font-size: 18px;
}
.router * {
  cursor: pointer;
}
.router-heading {
  margin-right: 0.3rem;
  font-weight: lighter;
}
.user-setting {
  position: relative;
  height: 4rem;
}
.drop-down-setting {
  display: none;
  position: absolute;
  background-color: white;
  width: 116px;
  height: 110px;
  top: 50px;
  right: 0;
  border: 1px solid var(--secondary-black);
}
.drop-down-link {
  white-space: nowrap;
  height: 50%;
  padding: 5px;
  display: block;
  font-weight: bold;
}
.drop-down-link .router {
  color: var(--primary-color);
  margin-top: 10px;
}
.user-setting:hover > .drop-down-setting {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-wrap: wrap;
}
.user-setting:hover > .drop-down-setting > li {
  width: 100%;
  text-align: center;
}
.drop-down-setting::after {
  transition-duration: 2s;
  transition: ease-in-out;
  position: absolute;
  right: 20%;
  margin-left: -20px;
  top: -7px;
  width: 0;
  right: 1px;
  height: 0;
  content: "";
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-bottom: 10px solid white;
}

.drop-down-link:hover {
  color: var(--primary-color);
  background-color: var(--secondary-color);
  width: 100%;
}
@media screen and (max-width: 800px) {
  .router-heading {
    display: none;
  }
  .right-nav-content {
    width: 10rem;
  }
  .router-icon {
    font-size: 1.3rem;
  }
  .drop-down-link .router {
    margin-top: 10px;
    margin-left: 10px;
  }
  .drop-down-setting:last-child .router .router-heading {
    display: block;
    font-size: 17px;
  }
  .drop-down-setting:last-child .router .router-icon {
    font-size: 15px;
  }
}
