body {
	background-color: white;

}
.signup-page {
	margin: auto;
	margin-top: 1rem;
	width: 90%;
	align-self: center;
	padding: 10px;
	box-shadow: 0px 0px 11px 4px #888888;
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	justify-content: center;
}
.signup-content {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	padding: 20px;
	justify-content: space-around;
	height: 100%;
}
.signup-banner {
	width: 35%;
}
.signup-banner img {
	width: 100%;
}
.signup-card {
	width: 34%;
	height: 100%;
	display: flex;
	flex-wrap: wrap;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding: 10px;
}
.logo {
	display: flex;
}
.logo img {
	height: 3rem;
	width: auto;
}
.logo h3 {
	font-family: var(--italic-heading);
	font-size: 40px;
	font-weight: bold;
	color: var(--primary-color);
}
.welcome-note {
	text-align-last: left;
	color: var(--ternary-color);
}
.tag-line {
	text-align: left;
	font-style: italic;
	color: var(--grayish-black);
}
.signup-inputs {
	display: flex;
	flex-direction: column;
	width: 90%;
	justify-content: space-between;
}
.signup-form {
	margin-top: 20px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	height: 90%;
}
.signup-form input {
	border-radius: var(--soft-border-radius);
	border: 1px solid var(--grayish-black);
	padding: 0.8rem;
	font-size: 17px;
	margin: 5px 0 5px 0;
	justify-content: space-evenly;
}
.tag-line:hover {
	color: black;
}
.security-ques {
	padding: 0.8rem;
	font-size: 17px;
	font: inherit;
	border-radius: var(--soft-border-radius);
	background-color: white;
}
input {
	cursor: auto;
}
a {
	cursor: pointer;
}

@media only screen and (max-width: 1264px) {
	.signup-content {
		flex-direction: column;
	}
	.signup-banner {
		margin-top: 10px;
		max-width: 100%;
	}
	.signup-card {
		margin-top: 30px;
		height: 50%;
		width: 100%;
	}
	.signup-form {
		width: 100%;
	}
	.signup-form input {
		width: 100%;
	}
	.signup-inputs {
		margin-left: 10px;
		max-width: 100%;
	}
	.signup-card .logo .welcome-note .tag-line {
		align-self: center;
	}
}
