.wishlist-page {
	color: var(--primary-color);
	overflow: hidden;
	width: auto;
	display: flex;
	justify-content: center;
}
.wishlist-content {
	border: 1px solid rgb(222, 230, 222);
	width: 950px;
	margin: auto;
}
.banner {
	width: 100%;
	padding: 20px;
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.banner-logo {
	font-size: 25px;
}
.banner-for {
	font-size: 25px;
	font-family: var(--calm-font);
}
.wishlist-items {
	overflow-y: scroll;
	height: 90vh;
	display: flex;
	align-items: center;
	flex-direction: column;
	flex-direction: column;
	margin: 10px auto;
}

@media screen and (max-width: 560px) {
	.wishlist-page {
		padding: 0;
	}
}

@media screen and (max-width: 695px) {
	.wishlist-page {
		padding: 0;
	}
	.wishlist-content {
		margin-right: 0;
	}
}
@media screen and (max-width: 980px) {
	.wishlist-page {
		padding: 0;
	}
	.banner-logo,
	.banner-for {
		font-size: 30px;
	}
	.banner {
		height: 60px;
	}
	.wishlist-page {
		overflow-y: scroll;
	}
	.wishlist-content {
		border: 1px solid rgb(222, 230, 222);
		width: 900px;
	}
	.wishlist-items {
		height: auto;
	}
}
