.bubbleLoader {
	width: 15px;
	height: 15px;
	position: absolute;
	background-color: #ccc;
	margin-bottom: 20px;
	border-radius: 50%;
}

.bubbleLoader:nth-child(1) {
	background-color: var(--primary-color);
	animation: move 2s infinite cubic-bezier(0.2, 0.64, 0.81, 0.23);
}
.bubbleLoader:nth-child(2) {
	background-color: var(--primary-color);
	animation: move 2s 150ms infinite cubic-bezier(0.2, 0.64, 0.81, 0.23);
}
.bubbleLoader:nth-child(3) {
	background-color: var(--primary-color);
	animation: move 2s 300ms infinite cubic-bezier(0.2, 0.64, 0.81, 0.23);
}
.bubbleLoader:nth-child(4) {
	background-color: var(--primary-color);
	animation: move 2s 450ms infinite cubic-bezier(0.2, 0.64, 0.81, 0.23);
}

@keyframes move {
	0% {
		left: 10%;
	}
	100% {
		left: 90%;
	}
}
