@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@1,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@1,100;1,300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300&display=swap');
:root {
  --primary-color: #00203fff;
  --secondary-color: #faf8f4;
  --ternary-color: #ff6994;
  --border-color: #b3a2a2;
  --background-color:white;
  --font-color:black;
  --gray:#404040;
  --primary-background-color: rgb(255, 126, 131);
  --primary-backrground-gradient: linear-gradient(
	180deg,
	rgba(255, 126, 131, 1) 0%,
	rgba(254, 120, 136, 1) 50%,
	rgba(255, 105, 148, 1) 100%
  );
  --secondary-background-color: rgb(74, 50, 172);
  --secondary-background-gradient: linear-gradient(
	145deg,
	rgba(74, 50, 172, 1) 0%,
	rgba(117, 66, 179, 1) 50%,
	rgba(191, 106, 198, 1) 100%
  );
  --soft-border-radius:8px;
  --soft-margin-gap:5px;
  --hard-margin-gap:10px;
  --harder-margin-gap:1rem;
  --primary-heading-font: "Roboto", sans-serif;
  --qoute-font: "Work Sans", sans-serif;
  --card-tile-font: "Poppins", sans-serif;
  --price-font:"Rubik", sans-serif;
  --primary-button-radius: 0.3rem;
  --primary-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px,
	rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}
::after,
::before,
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.App {
  font-family: sans-serif;
  text-align: center;
}
body {
  background: var(--secondary-color);
}
